body{
    margin: 0px;
}
.first-div{
    text-align: center;
    padding-top: 260px;
    background-image: url(images/donation9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.first-div h1{
    font-size: 50px;
    color: aliceblue;

}
.first-div p{
    font-size: 25px;
    color: black
}
.first-div a{
    
    padding: 10px 25px;
    background-color: tomato;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
}
  
.first-div img{
    padding-bottom: 300px;
}
.second-div{
    padding-top: 60px;
    text-align: center;
}
.second-div-1 h1{
    font-size: 50px;

}
.second-div-1 p{
    font-size: 25px;
}
#second-div-2{
    display: flex;
    padding: 15px;
    margin: 10px;
    list-style: none;
    justify-content: space-evenly;
    font-size: 40px;
}
#color{
    background-color: brown;
    border: 2px solid ;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.third{
    text-align: center;
}
.third h4{
    color: gray;
}
.third a{
    
    padding: 10px 25px;
    background-color: tomato;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
}
.third-2{
    padding-top: 20px;
}
.section-div-1{
    text-align: center;
    padding-top: 50px;
}
#div-1{
    font-size: 50px;
    text-align: center;

}
.pera{
    font-size: 25px;
    text-align: center;
} 
.section-div-2{
    display: flex;
    padding: 25px;
    margin: 40px;
}
.itam-1{
    background-color: blueviolet;
    border: 10px solid ;
    padding: 15px;
}
.itam-2{
    background-color: brown;
    border: 10px solid ;
    padding: 20px;
    margin-left: 35px;
}
.itam-3{
    background-color: darkkhaki;
    border: 10px solid ;
    padding: 20px;
    margin-left: 35px;
}
.fourth-main{
    display: flex;
    
}
.fourth-main h1{
    font-size: 50px;
    padding-top: 20px;
    padding-left: 50px;
   
}
.fourth-main p{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.fourth-main img{
    margin: 70px;
}
.fourth-2{
    padding-top: 35px;
    padding-left: 160px;
}
#decorat{
    padding:  10px 10px 10px 10px;
    border-radius: 20px;
    font-size: large;
    background-color: tomato;
}
.fifth{
    text-align: center;
}
.fifth h1{
    font-size: 50px;
}
.fifth p{
    font-size: 25px;
}
.button{
   margin-top: 90px;
   padding-top: 80px;
   padding-bottom: 40px;
   background-color: blanchedalmond;
   width: 800px;
  height: 50px;
  margin-left: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
form{
   padding-left: 550px;
   padding-bottom: 50px;
   display: flex;
   margin-left: -240px;
   text-align: center;
   height: 30px;
   width: 30px;
   border-radius: 15px;
}

    

#submition{
    background-color: tomato;
}
footer{
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    background-color: black;
    margin: 100px 0px 5px 0px;
    
}
footer h1{
   
    color: tomato;
}
footer h2{
    color: aliceblue;
}
footer strong{
    color: aliceblue;
}